section.login {
	max-width: var(--max-width);
	margin: 100px auto 0 auto;
	padding: 50px;
	border-radius: 30px;
	background: var(--main-dark);

	h3 {
		font-size: 2rem;
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 450px;
	margin: 0 auto;

	&_separator {
		display: flex;
		flex-direction: column;

		label {
			font-size: 1.6rem;
			margin: 0 0 7px 0;
		}
		input {
			padding: 10px 20px;
			font-size: 1.4rem;
			border-radius: 20px;
		}
	}
}
